/* BEGIN css */
#bp-klein-top-bar {
  display: block;
  padding: 15px 0 10px;
  background: white;
  position: relative;
  z-index: 9999;
}
/* END css */
/* BEGIN css */
#bp-klein-top-bar {
  display: block;
  padding: 15px 0 10px;
  background: white;
  position: relative;
  z-index: 9999;
}
/* END css */
